In [1]:
import numpy as np
import pandas as pd

In [2]:
#Finding Returns Using numpy
prices = np.array([8.70, 8.91, 8.71])

In [3]:
#singlereturn = (Pt+1/Pt)-1
print(8.91/8.7-1)

0.024137931034482918

In [5]:
#multiplereturns =(all numbrs except 1st/all numbers except last) -1
print(prices[1:])
print(prices[:-1])

[8.91 8.71]

array([8.7 , 8.91])

In [5]:
#instead of doing all the math by hand 
#create numpy array which gives both returns
prices[1:]/prices[:-1] -1

array([ 0.02413793, -0.02244669])

In [9]:
#Alternative way using Pandas
#create an index in dataframe akaba
#dictionary of KeyValuePairs where Key is columns name and values are the prices
prices2=pd.DataFrame({"AAPL" : [8.70, 8.91, 8.71, 8.43, 8.73],
                     "MS" : [10.66, 11.08, 10.71, 11.59, 12.11]})

In [10]:
prices2.head()

   AAPL     MS
0  8.70  10.66
1  8.91  11.08
2  8.71  10.71
3  8.43  11.59
4  8.73  12.11

In [11]:
#Just as before our returns equal toall numbrs except 1st/all numbers except last -1
prices2.iloc[1:]
#use iloc in pandas vs numpy

   AAPL     MS
1  8.91  11.08
2  8.71  10.71
3  8.43  11.59
4  8.73  12.11

In [12]:
#pandas not the same as numpy
#auto alignment in pandas
#cant divide the two columns
prices.iloc[1:]/prices.iloc[:-1]-1

   AAPL   MS
0   NaN  NaN
1   0.0  0.0
2   0.0  0.0
3   0.0  0.0
4   NaN  NaN

In [14]:
#pandas not the same as numpy
#Instead 1.can use values to just pull the values from each column
prices.iloc[1:].values/prices.iloc[:-1]-1

       AAPL        MS
0  0.024138  0.039400
1 -0.022447 -0.033394
2 -0.032147  0.082166
3  0.035587  0.044866

In [16]:
#or shift function fixes alignment issue
prices/prices.shift(1)-1

       AAPL        MS
0       NaN       NaN
1  0.024138  0.039400
2 -0.022447 -0.033394
3 -0.032147  0.082166
4  0.035587  0.044866

In [17]:
#or use percent change function built-in to dataframe
prices.pct_change()

       AAPL        MS
0       NaN       NaN
1  0.024138  0.039400
2 -0.022447 -0.033394
3 -0.032147  0.082166
4  0.035587  0.044866

In [48]:
import matplotlib.pyplot
%matplotlib inline

In [50]:
%matplotlib
returns= prices.pct_change()
returns.plot.bar

Using matplotlib backend: agg

In [51]:
prices.std()

AAPL    0.171697
MS      0.616806
dtype: float64

In [52]:
prices.mean()

AAPL     8.696
MS      11.230
dtype: float64

In [57]:
#Calc compound returns aka cumulative r
#using Numpy
np.prod(returns+1)-1

AAPL    0.003448
MS      0.136023
dtype: float64

In [58]:
#or using dataframe
(returns+1).prod()-1

AAPL    0.003448
MS      0.136023
dtype: float64

In [59]:
#Calc Annualized returns:
Rq= .003448
(1+Rq)**4-1

0.01386349633434647

In [60]:
Rmonth= .0451
(1+Rmonth)**12-1

0.6978298817095481

In [62]:
Rd= .00236
(1+Rd)**365 -1

1.364071027089202