Calculate Volitility AKA Risk AKA StdDeviation

In [1]:
import pandas as pd
prices= pd.read_csv("sample_prices.csv")
prices.head()

     BLUE   ORANGE
0  8.7000  10.6600
1  8.9055  11.0828
2  8.7113  10.7100
3  8.4346  11.5907
4  8.7254  12.1070

In [2]:
returns= prices.pct_change()
returns.head()

       BLUE    ORANGE
0       NaN       NaN
1  0.023621  0.039662
2 -0.021807 -0.033638
3 -0.031763  0.082232
4  0.034477  0.044544

In [3]:
#calculating STD DEV_ aka Volitility
returns.std()

BLUE      0.023977
ORANGE    0.079601
dtype: float64

In [4]:
#the math behind std dev:
deviations = returns-returns.mean()

In [5]:
sqddev= deviations**2

In [6]:
var= sqddev.mean()

In [7]:
import numpy as np
volitility=np.sqrt(var)
print(volitility)

BLUE      0.022957
ORANGE    0.076212
dtype: float64

In [8]:
#Why dont the numbers match!!!
#Numerator for sample std dev is n-1 instead of n
#n=population StdDev

In [9]:
#find # of observations
returns.shape[0]

13

In [10]:
#New math behind n-1 Sample std dev:
deviations = returns-returns.mean()
sqddev= deviations**2
#varianceSample = sqddev.sum()/numbr of observations-1
number_of_obs= returns.shape[0]
Var= sqddev.sum()/(number_of_obs-1)
volitility=var**.5

In [11]:
print(volitility)

BLUE      0.022957
ORANGE    0.076212
dtype: float64

In [12]:
#Annual Std Dev Sample
volitility*(12**.5)

BLUE      0.079524
ORANGE    0.264008
dtype: float64

In [29]:
#or
volitility*np.sqrt(12)

BLUE      0.079524
ORANGE    0.264008
dtype: float64

In [13]:
#Annual Std Dev Population
returns.std()*(12**.5)

BLUE      0.083060
ORANGE    0.275747
dtype: float64

In [20]:
portfolio= pd.read_csv("portfolios.csv",header=0, index_col=0, parse_dates=True,
                      na_values=99.99)

In [16]:
#if returns were daily
#calc annualized volitility
returns.std()*np.sqrt(220)

BLUE      0.355643
ORANGE    1.180678
dtype: float64

Calculate Sharpe Ratio for Portfolio Dataset in Quntiles

In [22]:
portfolio.head(1)
#data of portfolio returns, seperated into quintiles hi, low, med

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,-99.99,-0.43,1.52,2.68,-0.57,0.59,1.6,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29

In [29]:
#pull out data we want to use 
columns= ["Lo 10", "Hi 10"]
returns= portfolio[columns]
#put in R+1 format by dividing by 100
returns1=returns/100
returns1.head()

         Lo 10   Hi 10
192607 -0.0145  0.0329
192608  0.0512  0.0370
192609  0.0093  0.0067
192610 -0.0484 -0.0243
192611 -0.0078  0.0270

In [31]:
#rename colums
returns1.columns= ["SmallCap", "LargeCap"]

In [36]:
returns1.plot()

In [33]:
%matplotlib

Using matplotlib backend: agg

In [38]:
import matplotlib

In [ ]:
help(plot)

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>  plt

No Python documentation found for 'plt'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help>  help(matplotlib)

No Python documentation found for 'help(matplotlib)'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help>  hekp

No Python documentation found for 'hekp'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.